<nav class="nav az-navbar fixed-top">
  <a class="navbar-brand" routerLink="/" (click)="closeSubMenus()">
    <img src="assets/img/logo/logo.png" style="width:50%;margin-left:25%;" alt="" class="hidden-sm-down">
    <img src="assets/img/logo/az_logo.png" alt="" class="hidden-md-up">
  </a>
  <div id="lines" class="transition" (click)="toggleMenu()"></div>

  <!-- <form role="search" class="app-search hidden-sm-down">
    <input type="text" placeholder="Search..." class="form-control">
    <a href="javascript:void(0)">
      <i class="fa fa-search"></i>
    </a>
  </form> -->

  <ul class="nav right-section" style="margin-top:10px">
    <li class="nav-item">
      <!-- <az-messages></az-messages> -->
    </li>
    <li class="nav-item">
      <div class="dropdown float-right user-menu">
        <a class="dropdown-toggle user-link" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
          <img src="assets/img/logo/logo.png" alt="user-img" class="img-circle user-img">
          <span class="hidden-md-down">Gstock admin</span>
        </a>

        <ul class="dropdown-menu">
          <li class="user-info">
            <img src="assets/img/logo/logo.png" alt="user-img" class="img-circle user-img">
            <p>
              Gstock admin
              <!-- <small>Member since Dec. 2015</small> -->
            </p>
          </li>
          <!-- <a class="dropdown-item" routerLink="profile">
            <i class="fa fa-user"></i>Profile</a>
          <a class="dropdown-item" routerLink="settings">
            <i class="fa fa-cog"></i>Settings</a>
          <a class="dropdown-item" routerLink="/">
            <i class="fa fa-lock"></i>Lock screen</a> -->
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()">
            <i class="fa fa-power-off"></i>Log out</a>
        </ul>
      </div>
    </li>
  </ul>

</nav>
