<div class="row bottom-30">
  <div class="col-12 bottom-30">
    <div class="col-12">
      <div widget class="card">
        <div class="card-header">
          <span>Attribute</span>
          <div class="widget-controls">
            <a data-widgster="expand" href="#" class="transition">
              <i class="fa fa-chevron-down"></i>
            </a>
            <a data-widgster="collapse" href="#" class="transition">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a data-widgster="fullscreen" href="#" class="transition">
              <i class="fa fa-expand"></i>
            </a>
            <a data-widgster="restore" href="#" class="transition">
              <i class="fa fa-compress"></i>
            </a>
          </div>
        </div>
        <div class="card-block widget-body">
          <ng2-smart-table [settings]="settingsAttribute" [source]="source" (userRowSelect)="editAttribute($event)" (createConfirm)="createAttribute($event) "
            (deleteConfirm)="removeAttribute($event)"></ng2-smart-table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class=" row bottom-30 ">
  <div class="col-12 bottom-30 ">
    <div class="col-12 ">
      <div widget class="card ">
        <div class="card-header ">
          <span>Category</span>
          <div class="widget-controls">
            <a data-widgster="expand" href="#" class="transition">
              <i class="fa fa-chevron-down"></i>
            </a>
            <a data-widgster="collapse" href="# " class="transition">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a data-widgster="fullscreen" href="# " class="transition">
              <i class="fa fa-expand "></i>
            </a>
            <a data-widgster="restore" href="# " class="transition">
              <i class="fa fa-compress"></i>
            </a>
          </div>
        </div>
        <div class="card-block widget-body">
          <div *ngFor="let panel of triplePanel;let i=index ">
            <h3 class="category-panel-header">Category level {{i+1}}</h3>
            <ng-container>
              <div class="category-panel-body">
                <ng2-smart-table [settings]="settings" [source]="panel" (userRowSelect)="select($event,i)
            " (editConfirm)="onEditConfirm($event,i)" (createConfirm)="onCreateConfirm($event,i)" (deleteConfirm)="onDeleteConfirm($event,i)"></ng2-smart-table>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <div id="attributeSetModal" data-backdrop="static" class="modal fade" role="dialog" *ngIf="rowSelected">
      <div class="modal-dialog ">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Assign Attributes to Category</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <h2 class="bottom-15 padding-left">{{rowSelected.data.name}}</h2>
            <div style="margin: 5px 5px 30px 5px;" class="row">
              <div class="col-md-7 bordered">
                <h4 class="padding-top padding-bottom">Availabale Variants Set</h4>
                <div>
                  <div class="row">
                    <div *ngFor="let a of displaySet.variant" class="col-sm-3 bottom-15">
                      <p class="dv-gs-attribute__available no-margin" #selected (click)="assignAttribute(selected,a)">{{a.name}}</p>
                      <select class="dv-gs-attribute-select">
                        <option *ngFor="let v of a.value " value={{v}}>{{v}}</option>
                      </select>
                    </div>
                    <az-pagination class="col-sm-12" [totalPages]="totalPages.variant" [jump]="5" (number)='toVPage($event)'></az-pagination>
                  </div>
                </div>
              </div>
              <div class="col-md-1 center dv-gs-attribute-arrow--large">
                >>
              </div>
              <div class="col-md-4 bordered">
                <h4 class="padding-top padding-bottom">Variant</h4>
                <div>
                  <div class="dv-gs-attribute-selected">
                    <ng-container *ngFor="let v of assignment.variant;let i = index;">
                      <div class="dv-gs-attribute-selected__breadcrumb">
                        <span class="dv-gs-attribute-selected__close" (click)="removeAssignedVariant(i)">&times;</span>
                        <p class="dv-gs-attribute-selected__name">{{v.name}}</p>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
            <div style="margin: 5px 5px 30px 5px;" class="row">
              <div class="col-md-7 bordered">
                <h4 class="padding-top padding-bottom">Availabale Attributes Set</h4>
                <div>
                  <div class="row">
                    <div *ngFor="let a of displaySet.attribute" class="col-sm-3 bottom-15">
                      <p class="dv-gs-attribute__available no-margin" #selected (click)="assignAttribute(selected,a)">{{a.name}}</p>
                      <select class="dv-gs-attribute-select">
                        <option *ngFor="let v of a.value" value={{v}}>{{v}}</option>
                      </select>
                    </div>
                    <az-pagination class="col-sm-12" [totalPages]="totalPages.attribute" [jump]="5" (number)='toAPage($event)'></az-pagination>
                  </div>
                </div>
              </div>
              <div class="col-md-1 center dv-gs-attribute-arrow--large">
                >>
              </div>
              <div class="col-md-4 bordered">
                <h4 class="padding-top padding-bottom">Attributes</h4>
                <div>
                  <div class="dv-gs-attribute-selected">
                    <ng-container *ngFor="let a of assignment.attribute;let i = index;">
                      <div class="dv-gs-attribute-selected__breadcrumb">
                        <span class="dv-gs-attribute-selected__close" (click)="removeAssignedAttribute(i)">&times;</span>
                        <p class="dv-gs-attribute-selected__name">{{a.name}}</p>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="saveAssignedAttribute()">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div id="attributeModal" class="modal fade" role="dialog" *ngIf="attributeSelected">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit attribute</h4>
        <span>Variant?</span>
        <input type="checkbox" name="my-checkbox" (change)="copyValue.variant=!copyValue.variant" [checked]="copyValue.variant">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
          <div class="col-sm-9">
            <h4>{{attributeSelected.data.name}}</h4>
          </div>
          <div class="row" style="padding: 0;margin:0">
            <div class="col-sm-9">
              <input style="width:100%" #newAttrV placeholder="Add new attribute value" />
            </div>
            <div class="col-sm-3">
              <button style="width: 100%;" (click)="copyValue.value.push(newAttrV.value)">Add</button>
            </div>
            <div class="col-sm-12">
              <div id="attribute-new-value" *ngFor="let n of copyValue.value;let i = index;">
                <p (click)="toBeRemoved[i] = !toBeRemoved[i];" [ngClass]="{'cancel-text':toBeRemoved[i]}">{{n}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="updateAttribute()">Update</button>
        </div>
      </div>
    </div>
  </div>
</div>
