az-pagination {
  margin-top: 15px;
}

#attributeModal {
//   position: absolute;
  padding: 10%;
}

#attribute-new-value::before {
  content: "x";
  position: absolute;
  right: 0px;
}

ul li {
  cursor: pointer;
}

.active {
  color: blue;
}

.dv-gs-attribute-selected {
  display: flex;
}

.dv-gs-attribute__available:hover {
  background: #7ed321;
  border: none;
  cursor: pointer;
  transition: 300ms;
}

.dv-gs-attribute-selected__breadcrumb {
  background: #7ed321;
  border: none;
  color: white;
}

.dv-gs-attribute-selected__breadcrumb:hover {
  background: #7ed321;
  transition: 300ms;
}

.dv-gs-attribute-selected__breadcrumb {
  position: relative;
  flex: 1;
  margin: 5px;
  max-width: 25%;
  border-radius: 3px;
}

.dv-gs-attribute-selected__close {
  position: absolute;
  top: -4px;
  right: 0;
  cursor: pointer;
  color: red;
}

.dv-gs-attribute-selected__name {
  margin: auto;
  text-align: center;
}

.attribute-set-container {
  width: 100%;
  float: left
}

.dv-gs-attribute-selected__set {
  float: left;
}

.dv-gs-attribute-select {
  max-width: 70%;
  min-width: 70%;
}

.dv-gs-attribute-arrow--large {
  font-size: 3em
}

.panel {
  border-color: #ddd;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
  cursor: pointer;
}

.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}

.category-panel-header {
  padding: 15px;
}

.category-panel-body {
  min-height: 600px;
}

th {
  border: 1px solid #000;
}

td {
  border: 1px solid #000;
}
