<div class="modal fade" id="images-modal" tabindex="-1" role="dialog" aria-labelledby="modal-label" style="display: none;">
  <div class="modal-dialog modal-lg" role="document">
    <div class="card images-container">
      <div class="m-image-wrapper" *ngFor="let image of imagesPool; let i=index;">
        <div *ngIf="mode==='edit';then forEdit else forSelect ">here is ignored</div>
        <ng-template #forEdit>
          <img class="carouselImage" [attr.src]="image.url">
          <i class="fa fa-times m-delete-img" (click)="removeImage(imagesPool,i)"></i>
        </ng-template>
        <ng-template #forSelect>
          <img class="carouselImage" [attr.src]="image.url" (click)="selectImage(i)">
          <button *ngIf="tmpImages[i]!==undefined" class="btn btn-success overlay">OK</button>
        </ng-template>
      </div>
    </div>
  </div>
  <div *ngIf="mode==='edit';then forEdit else forSelect"></div>
  <ng-template #forEdit>
    <button class="btn btn-success btn-block" data-dismiss="modal">OK</button>
  </ng-template>
  <ng-template #forSelect>
    <button class="btn btn-success btn-block" (click)="doneSelect()" data-dismiss="modal">OK</button>
  </ng-template>

</div>
