<ng-container *ngIf="product">
  <div class="row bottom-30">
    <div class="col">
      <div widget class="card">
        <div class="card-header">
          <span>Merchant Information</span>
          <div class="widget-controls">
            <a data-widgster="expand" href="#" class="transition">
              <i class="fa fa-chevron-down"></i>
            </a>
            <a data-widgster="collapse" href="#" class="transition">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a data-widgster="fullscreen" href="#" class="transition">
              <i class="fa fa-expand"></i>
            </a>
            <a data-widgster="restore" href="#" class="transition">
              <i class="fa fa-compress"></i>
            </a>
          </div>
        </div>
        <div class="card-block widget-body">
          <div class="row">
            <div class="col-md-6">
              <div class="col-md-12">
                <div class="form-group">
                  <p>Merchant Store:
                    <a [routerLink]="['/pages/usermanagement/merchant/detail',product.merchantId]">{{product.storeName}} </a>
                    <span *ngIf="product.special">This merchant has {{product.special}} special commissions</span>
                  </p>
                  <p>Merchant Name: {{product.merchantName}}
                  </p>
                  <p>Merchant Email:
                    <span>{{product.merchantEmail}}</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row bottom-30">
    <div class="col">
      <div widget class="card">
        <div class="card-header">
          <span>Product Management </span>
          <div class="widget-controls">
            <a data-widgster="expand" href="#" class="transition">
              <i class="fa fa-chevron-down"></i>
            </a>
            <a data-widgster="collapse" href="#" class="transition">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a data-widgster="fullscreen" href="#" class="transition">
              <i class="fa fa-expand"></i>
            </a>
            <a data-widgster="restore" href="#" class="transition">
              <i class="fa fa-compress"></i>
            </a>
          </div>
        </div>
        <div class="card-block widget-body">
          <div class="row">
            <div class="col-md-6">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Product Category:</label>
                  <input class="w-100p" [(ngModel)]="product.category" disabled/>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label>Product Name:</label>
                  <input class="w-100p" [(ngModel)]="product.productName" />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <div class="form-group">
                    <label>SKU:</label>
                    <input class="w-100p" [(ngModel)]="product.sku" />
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label>Brand:</label>
                  <input class="w-100p" [(ngModel)]="product.brand" />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <div class="form-group">
                    <label>Barcode:</label>
                    <input class="w-100p" [(ngModel)]="product.barcode" />
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <div class="form-group">
                    <label>Short Description:</label>
                    <textarea class="w-100p" [(ngModel)]="product.shortDescription"></textarea>
                  </div>
                </div>
              </div>

              <button style="float:right" (click)="update()">Update</button>
            </div>
            <div class="col-md-6">
              <div class="col-md-12">
                <div class="form-group">
                  <p>Product Description: </p>
                  <button data-toggle="modal" data-target="#productDescriptionModal">Preview</button>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <p>Product Images</p>
                  <div class="dv-img-ctr">
                    <img *ngFor="let i of product.images" class="dv-img-ctr__img" [attr.src]="i">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="row bottom-30">
    <div class="col-md-6">
      <div widget class="card">
        <div class="card-header">
          <span>Price Management</span>
          <div class="widget-controls">
            <a data-widgster="expand" href="#" class="transition">
              <i class="fa fa-chevron-down"></i>
            </a>
            <a data-widgster="collapse" href="#" class="transition">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a data-widgster="fullscreen" href="#" class="transition">
              <i class="fa fa-expand"></i>
            </a>
            <a data-widgster="restore" href="#" class="transition">
              <i class="fa fa-compress"></i>
            </a>
          </div>
        </div>
        <div class="card-block widget-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                    <div >
                        <span>Price: </span>
                        <span>$ {{product.price|number:'1.2-2'}}</span>
                    </div>
                    <div *ngIf="product.discountRate!=undefined && product.discountRate!=0">
                            <div >
                                <span>Discount Rate: </span>
                                <span>{{product.discountRate}}%</span>
                            </div>
                            <div >
                                <span>Discount Price: </span>
                                <span>$ {{product.discountPrice|number:'1.2-2'}}</span>
                            </div>
                    </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div widget class="card">
        <div class="card-header">
          <span>Stock Management</span>
          <div class="widget-controls">
            <a data-widgster="expand" href="#" class="transition">
              <i class="fa fa-chevron-down"></i>
            </a>
            <a data-widgster="collapse" href="#" class="transition">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a data-widgster="fullscreen" href="#" class="transition">
              <i class="fa fa-expand"></i>
            </a>
            <a data-widgster="restore" href="#" class="transition">
              <i class="fa fa-compress"></i>
            </a>
          </div>
        </div>
        <div class="card-block widget-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <span>Stock: </span>
                <span>{{product.stock}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row bottom-30">
    <div class="col">
      <div widget class="card">
        <div class="card-header">
          <span>Commission Management</span>
          <div class="widget-controls">
            <a data-widgster="expand" href="#" class="transition">
              <i class="fa fa-chevron-down"></i>
            </a>
            <a data-widgster="collapse" href="#" class="transition">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a data-widgster="fullscreen" href="#" class="transition">
              <i class="fa fa-expand"></i>
            </a>
            <a data-widgster="restore" href="#" class="transition">
              <i class="fa fa-compress"></i>
            </a>
          </div>
        </div>
        <div class="card-block widget-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <p>Default Commission: {{product.categoryCommission}}%</p>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <p *ngIf="product.specialRate">Merchant Commission: {{product.specialRate}}%</p>
                <p *ngIf="!product.specialRate">Merchant Commission: N.A.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row bottom-30">
    <div class="col">
      <div widget class="card">
        <div class="card-header">
          <span>Attributes Management</span>
          <div class="widget-controls">
            <a data-widgster="expand" href="#" class="transition">
              <i class="fa fa-chevron-down"></i>
            </a>
            <a data-widgster="collapse" href="#" class="transition">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a data-widgster="fullscreen" href="#" class="transition">
              <i class="fa fa-expand"></i>
            </a>
            <a data-widgster="restore" href="#" class="transition">
              <i class="fa fa-compress"></i>
            </a>
          </div>
        </div>
        <div class="card-block widget-body">
          <div class="row">

            <div class="col-md-12">
              <div class="form-group">
                <span>Attributes: </span>
                <ul>
                  <li *ngFor="let a of product.attributes">{{a.name}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row bottom-30">
    <div class="col">
      <div widget class="card">
        <div class="card-header">
          <span>Variants Management</span>
          <div class="widget-controls">
            <a data-widgster="expand" href="#" class="transition">
              <i class="fa fa-chevron-down"></i>
            </a>
            <a data-widgster="collapse" href="#" class="transition">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a data-widgster="fullscreen" href="#" class="transition">
              <i class="fa fa-expand"></i>
            </a>
            <a data-widgster="restore" href="#" class="transition">
              <i class="fa fa-compress"></i>
            </a>
          </div>
        </div>
        <div class="card-block widget-body">
          <div class="row">
            <div class="col-md-12">
              <ng2-smart-table [settings]="settings" [source]="source" (userRowSelect)="select($event);"></ng2-smart-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row bottom-30">
    <div class="col">
      <div widget class="card">
        <div class="card-header">
          <span>Status</span>
          <div class="widget-controls">
            <a data-widgster="expand" href="#" class="transition">
              <i class="fa fa-chevron-down"></i>
            </a>
            <a data-widgster="collapse" href="#" class="transition">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a data-widgster="fullscreen" href="#" class="transition">
              <i class="fa fa-expand"></i>
            </a>
            <a data-widgster="restore" href="#" class="transition">
              <i class="fa fa-compress"></i>
            </a>
          </div>
        </div>
        <div class="card-block widget-body">
          <div class="row">
            <div class="col-md-12">
              <h1>{{product.status}}</h1>
              <div *ngIf="reasons.length">
                <h3>Here is a list showing reasons for rejecting this product.</h3>
                <ol>
                  <li *ngFor="let r of reasons">
                    {{r}}
                  </li>
                </ol>
              </div>
              <div *ngIf="!reasons.length && improvement.length">
                <h3>Here is a list this product can improve on.</h3>
                <ol>
                  <li *ngFor="let r of improvement">
                    {{r}}
                  </li>
                </ol>
              </div>
              <button *ngIf="product.status==='Pending' || product.status==='Rejected'" class="btn btn-success" (click)="changeProductStatus('Approved')">Approve</button>
              <button *ngIf="product.status==='Pending' || product.status==='Approved'" class="btn btn-danger" (click)="changeProductStatus('Rejected')">Reject</button>
              <button *ngIf="product.status==='Rejected'" class="btn btn-danger" (click)="deleteProduct()">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<div id="productDescriptionModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Product Description</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div [innerHTML]="product?.longDescription"></div>
      </div>
    </div>
    <!-- <div class="modal-footer">Assign Attributes to Category</div> -->
  </div>
</div>
