az-product-detail {
  .dv-img-ctr {
    max-width: 70px;
    max-height: 70px;
    display: flex;
  }
  .dv-img-ctr__img {
    width: 100%;
  }
  th {
    border: 1px solid #000;
  }
  td {
    border: 1px solid #000;
  }
  .m-img-upload-btn {
    position: absolute;
    padding: 0;
    width: calc(100% - 30px);
    height: 38px;
    opacity: 0;
  }
  .show {
    display: block
  }
  .hovered {
    opacity: 0.7
  }
  .overlay {
    position: relative;
  }
}

/* The Modal (background) */

.imgModal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  padding-top: 50px;
  /* Location of the box */
  padding-bottom: 50px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
  z-index: 10;
}

/* Modal Content (Image) */

.imgModal-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  display: block;
  max-height: 100%
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
} // /* Add Animation - Zoom in the Modal */
.imgModal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0)
  }
  to {
    -webkit-transform: scale(1)
  }
}

@keyframes zoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}

/* The Close Button */

.close {
//   position: absolute;
  top: 15%;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  z-index: 10;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

#images-modal {
  max-width: none;
}

#default-modal {
  padding: 80px
}
