<div class="row bottom-30">
  <div class="col">
    <div widget class="card">
      <div class="card-header">
        <span>Product Filter</span>
        <div class="widget-controls">
          <a data-widgster="expand" href="#" class="transition">
            <i class="fa fa-chevron-down"></i>
          </a>
          <a data-widgster="collapse" href="#" class="transition">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a data-widgster="fullscreen" href="#" class="transition">
            <i class="fa fa-expand"></i>
          </a>
          <a data-widgster="restore" href="#" class="transition">
            <i class="fa fa-compress"></i>
          </a>
        </div>
      </div>
      <div class="card-block widget-body">

        <form [formGroup]='searchForm' class="row form-inline" (submit)='searchProduct()'>
          <div class="form-group col-md-3 col-sm-6">
            <input type="text" class="form-control" placeholder="Product Name" formControlName='name'>
          </div>
          <div class="form-group col-md-3 col-sm-6">
            <input type="text" class="form-control" placeholder="Store Name" formControlName='store_name'>
          </div>
          <!-- <div class="form-group col-md-3 col-sm-6">
            <input type="text" class="form-control" placeholder="Merchant Email" formControlName='details.merchantID.email'>
          </div>
          <div class="form-group col-md-3 col-sm-6">
            <input type="date" class="form-control" placeholder="Status" formControlName='status'>
          </div> -->
          <div class="form-group col-md-3 col-sm-6">
            <button type="submit" class="btn btn-main">Search</button>
          </div>
        </form>

        <div #myModal class="modal fade" role="dialog" style="text-align: center;margin: auto; width:20%;">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Actions</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <div class="center">
                  <button class="btn btn-success" (click)="changeProductStatus('Approved')">Approved</button>
                  <button class="btn btn-danger" (click)="changeProductStatus('Rejected')">Rejected</button>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="row bottom-30">
  <div class="col">
    <div widget class="card">
      <div class="card-header">
        <span>Product List</span>
        <div class="widget-controls">
          <a data-widgster="expand" href="#" class="transition">
            <i class="fa fa-chevron-down"></i>
          </a>
          <a data-widgster="collapse" href="#" class="transition">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a data-widgster="fullscreen" href="#" class="transition">
            <i class="fa fa-expand"></i>
          </a>
          <a data-widgster="restore" href="#" class="transition">
            <i class="fa fa-compress"></i>
          </a>
        </div>
      </div>
      <div class="clearfix">
        <ul class="nav nav-tabs top pull-left w-100p">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" (click)="statusChange('')">All</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" (click)="statusChange('Approved')">Approved</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" (click)="statusChange('Rejected')">Rejected</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" (click)="statusChange('Pending')">Pending review</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" (click)="statusChange('Others')">Others</a>
          </li>
        </ul>
      </div>
      <div class="card-block widget-body">
        <ng2-smart-table [settings]="settings" [source]="source" (userRowSelect)="multiSelect($event)"></ng2-smart-table>
      </div>
      <div class="center">
        <button class="btn-rounded btn-success" (click)="approveAll()">Approve selected products</button>
        <button class="btn-rounded btn-danger" (click)="rejectAll()">Reject selected products</button>
      </div>
      <div class="center padding-all" *ngIf="totalPages">
        <az-pagination [totalPages]="totalPages" [jump]="5" (number)='toPage($event)'></az-pagination>
      </div>
    </div>
  </div>
