  az-product-list {
    .center {
      margin: auto
    }
  }

//   :host /deep/ tr,th {

//     text-transform: uppercase;

//     }
// :host /deep/ ng2-smart-table tbody > tr > td:first-child {
//     color: #ED1C24;
//     }

//   td{
//     text-transform: uppercase;
//     font-size: 12px;
//   }

//   btn {
//     border-radius: 100px;
//     font-size: 13px;
//     width: 100%;
//     text-align: center;
//     padding: 0px;
//     color: white
//   }
