#tag {
  text-align: center;
  background-color: white;
}

#container {
  display: flex
}

.form-group.required label:after {
  content: "*";
  color: red;
}

#tre {
  overflow-x: scroll
}

.merchant-sales-table {
  width: 100%
}

.merchant-extra-container {
  margin-top: 20px;
}

.existing-category-commission {
  width: 100%;
}

.select-delete {
  background-color: red;
  opacity: 0.7;
}
