<div class="row" id="tre">
  <form (ngSubmit)="onSubmit()" [formGroup]="myForm">
    <div id="container" class="col-xl-12 col-lg-12 col-md-12 bottom-30">
      <div class="col-xl-6 col-lg-6 col-6 bottom-30" *ngFor="let form of formArray" [formGroupName]="form.formGroupName">
        <div widget class="card">
          <div class="card-header">
            <span>{{form.formGroupDisplayName}}</span>
            <div class="widget-controls">
              <a data-widgster="expand" href="#" class="transition">
                <i class="fa fa-chevron-down"></i>
              </a>
              <a data-widgster="collapse" href="#" class="transition">
                <i class="fa fa-chevron-up"></i>
              </a>
              <a data-widgster="fullscreen" href="#" class="transition">
                <i class="fa fa-expand"></i>
              </a>
              <a data-widgster="restore" href="#" class="transition">
                <i class="fa fa-compress"></i>
              </a>
              <a data-widgster="close" href="#" class="transition">
                <i class="fa fa-times"></i>
              </a>
            </div>
          </div>
          <div class="card-block widget-body">
            <div class="form-group" *ngFor="let control of form.formControls;let i = index" [class.required]="control.required" [ngSwitch]="control.type">
              <label for="input-{{form.formGroupName+i}}">{{control.displayName}}</label>
              <ng-container *ngSwitchCase="'select'">
                <select class="form-control" style="display:block" [formControlName]="control.formControlName">
                  <option *ngFor="let v of control.value" [value]="v">
                    {{v}}
                  </option>
                </select>
              </ng-container>
              <ng-container *ngSwitchCase="'date'">
                <ng-datepicker style="z-index: 1000" [formControlName]="control.formControlName" [options]="options">
                </ng-datepicker>
              </ng-container>
              <ng-container *ngSwitchDefault>
                <input type=text class="form-control" [formControlName]="control.formControlName" id="input-{{form.formGroupName+i}}">
              </ng-container>
              <!-- <div *ngIf="checkError(form.formGroupName,control.formControlName)">
                <p style="color:red">{{control.displayName}} is required</p>
              </div> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-2 col-2 bottom-30"></div>
    </div>
    <button class="form-group" type="submit">Submit</button>
  </form>
</div>
<div *ngIf="'merchant'===user_group" class="merchant-extra-container">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 bottom-30">
      <div widget class="card">
        <div class="card-header">
          <span>Merchant product detail</span>
          <div class="widget-controls">
            <a data-widgster="expand" href="#" class="transition">
              <i class="fa fa-chevron-down"></i>
            </a>
            <a data-widgster="collapse" href="#" class="transition">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a data-widgster="fullscreen" href="#" class="transition">
              <i class="fa fa-expand"></i>
            </a>
            <a data-widgster="restore" href="#" class="transition">
              <i class="fa fa-compress"></i>
            </a>
            <a data-widgster="close" href="#" class="transition">
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div>
        <div class="card-block widget-body">
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 bottom-30">
              <table class="merchant-sales-table">
                <thead>
                  <th>Total Product</th>
                  <th>Product Sold</th>
                  <th>Review</th>
                </thead>
                <tbody>
                  <tr>
                    <td>{{infoCollection.product_count}}</td>
                    <td>xx</td>
                    <td>xx</td>
                  </tr>
                </tbody>
                <thead>
                  <th>Merchant Status</th>
                  <th>Product Sold</th>
                  <th>Review</th>
                </thead>
                <tbody>
                  <tr>
                    <td>{{isActive ? 'Active':'Inactive'}}</td>
                    <td>xx</td>
                    <td>xx</td>
                  </tr>
                </tbody>
                <!-- <tfooter></tfooter> -->
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 bottom-30">
      <div widget class="card">
        <div class="card-header">
          <span>Merchant Picture</span>
          <div class="widget-controls">
            <a data-widgster="expand" href="#" class="transition">
              <i class="fa fa-chevron-down"></i>
            </a>
            <a data-widgster="collapse" href="#" class="transition">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a data-widgster="fullscreen" href="#" class="transition">
              <i class="fa fa-expand"></i>
            </a>
            <a data-widgster="restore" href="#" class="transition">
              <i class="fa fa-compress"></i>
            </a>
            <a data-widgster="close" href="#" class="transition">
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div>
        <div class="card-block widget-body">
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 bottom-30">
              <div class="row">
                <div class="col-md-6">
                  <div>Profile Picture</div>
                  <img style="width:275px;height:275px;" [attr.src]="baseUrl+'store_banner.png'">
                </div>
                <div class="col-md-6">
                  <div>Store Banner</div>
                  <img style="width:275px;height:275px;" [attr.src]="baseUrl+'profile_picture.png'">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 bottom-30">
      <div widget class="card">
        <div class="card-header">
          <span>Merchant commission settings</span>
          <div class="widget-controls">
            <a data-widgster="expand" href="#" class="transition">
              <i class="fa fa-chevron-down"></i>
            </a>
            <a data-widgster="collapse" href="#" class="transition">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a data-widgster="fullscreen" href="#" class="transition">
              <i class="fa fa-expand"></i>
            </a>
            <a data-widgster="restore" href="#" class="transition">
              <i class="fa fa-compress"></i>
            </a>
            <a data-widgster="close" href="#" class="transition">
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div>
        <div class="card-block widget-body">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6">
                  <form [formGroup]="searchForm" (ngSubmit)="setCommission()">
                    <input formControlName="category" placeholder='Key in category' />
                    <input formControlName="rate" placeholder='Comission rate' />
                    <button type="submit">Set</button>
                  </form>
                  <ul>
                    <li *ngFor="let c of category" (click)="select(c.path,c.commission)">
                      {{c.path}} | rate: {{c.commission}}
                    </li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <h5>Overwritten commission rates</h5>
                  <table class="existing-category-commission">
                    <thead>
                      <th>Category</th>
                      <th>Commission</th>
                      <th>Default</th>
                    </thead>
                    <tbody>
                      <tr [ngClass]="commissionPendingDeletion[i]?'select-delete':''" *ngFor="let c of exisitingCommission;let i = index" (click)="selectForDelete(c,i)">
                        <td>{{c.path}}</td>
                        <td>{{c.rate}}</td>
                        <td>{{c.default}}</td>
                      </tr>
                    </tbody>
                  </table>
                  <button class="pull-right" (click)="confirmDelete()">Delete</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="'buyer'===user_group" class="merchant-extra-container">
<div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12 bottom-30">
    <div widget class="card">
      <div class="card-header">
        <span>Buyer credit wallet history</span>
        <div class="widget-controls">
          <a data-widgster="expand" href="#" class="transition">
            <i class="fa fa-chevron-down"></i>
          </a>
          <a data-widgster="collapse" href="#" class="transition">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a data-widgster="fullscreen" href="#" class="transition">
            <i class="fa fa-expand"></i>
          </a>
          <a data-widgster="restore" href="#" class="transition">
            <i class="fa fa-compress"></i>
          </a>
          <a data-widgster="close" href="#" class="transition">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>
      <div class="card-block widget-body">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 bottom-30">
            <table class="gs-credit-hist w-100p">
              <thead>
                <th>Date</th>
                <th>Description</th>
                <th>Credit Amount</th>
                <th>Status</th>
                <th>Action</th>
              </thead>
              <tbody>
                <tr *ngFor="let c of creditWalletHistory">
                  <td>{{c.createdAt | date:"medium" }}</td>
                  <td>{{c.memo.length > 50? (c.memo|slice:0:50)+'..':(c.memo)}}</td>
                  <td>{{c.amount}}</td>
                  <td>{{c.status||"Approved"}}</td>
                  <td><a class="clickable">Revoke</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="row row-eq-height">
            <div class="col-md-3 input-group" >
                <select #sign >
                    <option>+</option>
                    <option>-</option>
                </select>
                <input #amount placeholder="Amount" type="number" style="width:100%">
            </div>
            <div class="col-md-6">
                <input  #memo placeholder="Short memo" type="text" style="width:100%">
            </div>
            <button  class="col-md-3" (click)="updateCreditWallet(sign,amount,memo)">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12 bottom-30">
    <div widget class="card">
      <div class="card-header">
        <span>{{user_group}} status</span>
        <div class="widget-controls">
          <a data-widgster="expand" href="#" class="transition">
            <i class="fa fa-chevron-down"></i>
          </a>
          <a data-widgster="collapse" href="#" class="transition">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a data-widgster="fullscreen" href="#" class="transition">
            <i class="fa fa-expand"></i>
          </a>
          <a data-widgster="restore" href="#" class="transition">
            <i class="fa fa-compress"></i>
          </a>
          <a data-widgster="close" href="#" class="transition">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>
      <div class="card-block widget-body">
        <div class="row">
          <div class="col-md-12">
            <button (click)="changeStatus()" class="btn" [ngClass]="isActive ? 'btn-success':'btn-danger'">{{isActive ? 'Activated':'Suspended'}}</button>
            <button (click)="deleteAccount()" class="btn btn-danger pull-right" *ngIf="!isActive">Delete account</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
