<div class="row bottom-30">
  <div class="col">
    <div widget class="card">
      <div class="card-header">
        <span>Discount Name and Detail</span>
        <div class="widget-controls">
          <a data-widgster="expand" href="#" class="transition">
            <i class="fa fa-chevron-down"></i>
          </a>
          <a data-widgster="collapse" href="#" class="transition">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a data-widgster="fullscreen" href="#" class="transition">
            <i class="fa fa-expand"></i>
          </a>
          <a data-widgster="restore" href="#" class="transition">
            <i class="fa fa-compress"></i>
          </a>
        </div>
      </div>
      <div class="card-block widget-body">
        <form [formGroup]="discountForm">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>Promotion name</label>
                <input type="text" class="form-control" formControlName="name">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <p>Status: {{status}}</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Promotion detail </label>
                <textarea class="form-control" formControlName="detail"></textarea>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row bottom-30">
  <div class="col">
    <div widget class="card">
      <div class="card-header">
        <span>Discount Code and Option</span>
        <div class="widget-controls">
          <a data-widgster="expand" href="#" class="transition">
            <i class="fa fa-chevron-down"></i>
          </a>
          <a data-widgster="collapse" href="#" class="transition">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a data-widgster="fullscreen" href="#" class="transition">
            <i class="fa fa-expand"></i>
          </a>
          <a data-widgster="restore" href="#" class="transition">
            <i class="fa fa-compress"></i>
          </a>
        </div>
      </div>
      <div class="card-block widget-body">
        <form [formGroup]="discountForm">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>Discount code</label>
                <input type="text" class="form-control" formControlName="promo_code">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Discount option</label>
                <select class="form-control" formControlName="promo_type">
                  <option *ngFor="let o of promoType" value="{{o.value}}">{{o.name}}</option>
                </select>

              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Discount Value</label>
                <input class="form-control" formControlName="value">
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-md-6">
              <input type="checkbox" formControlName="min_order">
              <span>This discount requires a minimum purchase</span>
            </div>
            <div class="col-md-6">
              <input type="checkbox" formControlName="first_order">
              <span>This discount only apply to first order</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group" *ngIf="discountForm.value.min_order">
                <input type="number" class="form-control" formControlName="min_value">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
<div class="row bottom-30">
  <div class="col">
    <div widget class="card">
      <div class="card-header">
        <span>Applies to</span>
        <div class="widget-controls">
          <a data-widgster="expand" href="#" class="transition">
            <i class="fa fa-chevron-down"></i>
          </a>
          <a data-widgster="collapse" href="#" class="transition">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a data-widgster="fullscreen" href="#" class="transition">
            <i class="fa fa-expand"></i>
          </a>
          <a data-widgster="restore" href="#" class="transition">
            <i class="fa fa-compress"></i>
          </a>
        </div>
      </div>
      <div class="card-block widget-body">
        <div class="row">
          <div class="col-md-6">
            <form [formGroup]="discountForm">
              <div class="form-group">
                <input type="radio" value="storewide" formControlName="kind"> All Gstock
                <br>
                <input type="radio" value="merchant" formControlName="kind"> Selected Merchant
              </div>
              <div class="form-group" *ngIf="discountForm.value.kind!='storewide'">
                <div class="input-group">
                  <input type="text" class="form-control" #keyword placeholder="Search for...">
                  <span class="input-group-btn">
                    <button (click)="search(keyword.value)" type="button" class="btn btn-info">Search</button>
                  </span>
                </div>
                <div class="resultBox">
                  <p *ngFor="let r of result" (click)="selectResult(r)">{{r.store}}</p>
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-6">
            <p>List of merchant participating in the promotion event</p>
            <ul>
              <ng-container *ngFor="let t of target">
                <li (click)="selectResult(t)">{{t.store}} </li>
                <span style="float:right;color:Red;">X</span>
              </ng-container>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="row bottom-30">
  <div class="col">
    <div widget class="card" style="overflow: visible">
      <div class="card-header">
        <span>Active dates</span>
        <div class="widget-controls">
          <a data-widgster="expand" href="#" class="transition">
            <i class="fa fa-chevron-down"></i>
          </a>
          <a data-widgster="collapse" href="#" class="transition">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a data-widgster="fullscreen" href="#" class="transition">
            <i class="fa fa-expand"></i>
          </a>
          <a data-widgster="restore" href="#" class="transition">
            <i class="fa fa-compress"></i>
          </a>
        </div>
      </div>
      <div class="card-block widget-body">
        <form [formGroup]="discountForm">
          <div class="row">
            <div class="col-md-4">
              <label>Start date</label>
              <ng-datepicker style="z-index: 1000" formControlName="start" [options]="options"></ng-datepicker>
            </div>
            <div class="col-md-4">
              <label>End date</label>
              <ng-datepicker formControlName="end" [options]="options"></ng-datepicker>
            </div>
          </div>
          <button *ngIf="newPromotion" (click)="submit()" type="submit" style="margin-top: 300px" class="btn btn-main">Submit Promotion</button>
          <button *ngIf="!newPromotion" (click)="update()" type="submit" style="margin-top: 300px" class="btn btn-main">Update Promotion</button>
          <button *ngIf="'Inactive'===status" (click)="switchState()" type="button" style="margin-top: 300px" class="btn btn-main">Activate Promotion</button>
          <button *ngIf="'Inactive'!==status" (click)="switchState()" type="button" style="margin-top: 300px" class="btn btn-main">Deactivate Promotion</button>
        </form>
      </div>
    </div>
  </div>

</div>
