<div class="login-container">
  <div class="col-xl-4 col-md-6 col-10 offset-xl-4 offset-md-3 offset-1">
    <div class="card">
      <div class="card-block text-center">
        <h2 class="card-title">Sign in to Gstock Admin</h2>
        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class=" text-left">
          <div class="form-group">
            <input formControlName="email" class="form-control checking-field" placeholder="Email" type="text">
            <span class="help-block text-danger" *ngIf="form.get('email').touched && form.get('email').hasError('required')">Email is required</span>
            <span class="help-block text-danger" *ngIf="form.get('email').touched && form.get('email').hasError('invalidEmail')">Invalid email address</span>
          </div>
          <div class="form-group">
            <input formControlName="password" class="form-control checking-field" placeholder="Password" type="password">
            <span class="help-block text-danger" *ngIf="form.get('password').touched && form.get('password').hasError('required')">Password is required</span>
            <span class="help-block text-danger" *ngIf="form.get('password').touched && form.get('password').hasError('minlength')">Password isn't long enough, minimum of 6 characters</span>
          </div>
          <div class="form-group">
            <label class="custom-control custom-checkbox">
              <input class="custom-control-input checkbox-main" type="checkbox">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description align-middle">Keep me signed in.</span>
            </label>
            <a class="btn btn-link forgot transition pull-right" href="javascript:void(0);">Forgot password?</a>
          </div>
          <div class="form-group">
            <button [disabled]="!form.valid" class="btn btn-main btn-block" type="submit">Sign in</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
