<div class="row bottom-30">
  <div class="col">
    <div widget class="card">
      <div class="card-header">
        <span>Banner</span>
        <div class="widget-controls">
          <a data-widgster="expand" href="#" class="transition">
            <i class="fa fa-chevron-down"></i>
          </a>
          <a data-widgster="collapse" href="#" class="transition">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a data-widgster="fullscreen" href="#" class="transition">
            <i class="fa fa-expand"></i>
          </a>
          <a data-widgster="restore" href="#" class="transition">
            <i class="fa fa-compress"></i>
          </a>
        </div>
      </div>
      <div class="card-block widget-body center">
        <div class="row">
          <input #bannerUpload type="file" (change)="upload($event,'banner')" style="display:none;" />
          <div class="col-sm-4" *ngFor="let m of [0,1,2];">
            <img [attr.src]="banners[m]" class="bottom-15" style="width:100%" (click)="triggerImageUpload($event,m+1,'banner')" />
            <div>
              <input [(ngModel)]="bannerRoutes[m]" placeholder="Enter router link." style="width:100%" />
            </div>
          </div>
        </div>
        <button class="pull-right m-t-5" (click)="updateBannerRoutes()">Update</button>
      </div>
    </div>
  </div>
</div>
<div class="row bottom-30">
  <div class="col">
    <div widget class="card">
      <div class="card-header">
        <span>Merchant</span>
        <div class="widget-controls">
          <a data-widgster="expand" href="#" class="transition">
            <i class="fa fa-chevron-down"></i>
          </a>
          <a data-widgster="collapse" href="#" class="transition">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a data-widgster="fullscreen" href="#" class="transition">
            <i class="fa fa-expand"></i>
          </a>
          <a data-widgster="restore" href="#" class="transition">
            <i class="fa fa-compress"></i>
          </a>
        </div>
      </div>
      <input #brandUpload type="file" (change)="upload($event,'brand')" style="display:none;" />
      <div class="card-block widget-body center">
        <div class="row">
          <div class="padding-all-5" *ngFor="let b of brands;let i = index">
            <div>
              <img [attr.src]="b" class="gs-merchant-image" (click)="triggerImageUpload($event,i,'brand')" />
            </div>
            <div class="padding-all-5">
              <input [(ngModel)]="brandNames[i]" class="center" placeholder="Enter brand name" />
            </div>
          </div>
        </div>
        <button class="pull-right m-t-5" (click)="updateBrands()">Update</button>
      </div>
    </div>
  </div>
</div>
<div class="row bottom-30">
  <div class="col">
    <div widget class="card">
      <div class="card-header">
        <span>Floor</span>
        <div class="widget-controls">
          <a data-widgster="expand" href="#" class="transition">
            <i class="fa fa-chevron-down"></i>
          </a>
          <a data-widgster="collapse" href="#" class="transition">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a data-widgster="fullscreen" href="#" class="transition">
            <i class="fa fa-expand"></i>
          </a>
          <a data-widgster="restore" href="#" class="transition">
            <i class="fa fa-compress"></i>
          </a>
        </div>
      </div>
      <div class="card-block widget-body">
        <input #iconUpload type="file" (change)="upload($event,'icon')" style="display:none;" />
        <div class="row mbm-20" [dragula]="'bag-container'" [dragulaModel]='order'>
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 bottom-30 draggable" *ngFor="let floor of floors,let floorI=index">
            <div class="card">
              <div class="card-header">
                <input #input value={{floor.value[0]}} />
                <button (click)="updateFloor(floor,0,input)">Update</button>
              </div>
              <div class="card-block">
                <div class="row">
                  <div class="col-lg-6 center">
                    <div class="margin-bottom-5" *ngFor='let sub of floor.value.slice(1),let i = index'>
                      <input class="card-text" #subInput value={{sub}}/>
                      <button (click)="updateFloor(floor,i+1,subInput)">Update</button>
                    </div>
                  </div>
                  <div class="col-lg-6 center">
                    <!-- <button (click)="prepareModal(floor)">Add</button> -->
                    <div>
                      <img [attr.src]="copyOrder[floorI]" class="gs-icon-image clickable" (click)="triggerImageUpload($event,floorI,'icon')" />
                      <!-- <img [attr.src]="apiUrl+'/uploads/home/icon/'+copyOrder[floorI]+'.png'" class="gs-icon-image clickable" (click)="triggerImageUpload($event,copyOrder[floorI],'icon')"
                      /> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <button class="pull-right bottom-15" (click)="updateOrder()">Update order</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="modal fade" id="sub" tabindex="-1" role="dialog" aria-labelledby="modal-label" style="display: none;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-label">Add new</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <input #newSub placeholder="Enter name" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="add(newSub)">Ok</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> -->
