th {
  border: 1px solid #000;
}

td {
  border: 1px solid #000;
}

.gs-detail-entry-table {
  margin-top: 20px;
  padding: 10px;
  width: 100%;
}

.gs-invoice {
  margin-top: 20px;
}

.gs-invoice__btn {
  float: right
}

.gs-detail-summary {
  background: #364154;
  color: #fff;
}

table.gs-detail-summary td {
  border: none;
  padding: 0px 20px;
}

:host /deep/ tr,
th {
  border-bottom: 1px solid #eceeef;
  border: 0px;
  text-transform: uppercase;
}

:host /deep/ tr,
td {
  border: 0px;
  border-top: 1px solid #eceeef;
  border-bottom: 1px solid #eceeef
}
