<div class="bottom-30 gs-order">
  <div class="row bottom-30 gs-summary">
    <div class="col">
      <div widget class="card">
        <div class="card-header">
          <span>Order Summary</span>
          <div class="widget-controls">
            <a data-widgster="expand" href="#" class="transition">
              <i class="fa fa-chevron-down"></i>
            </a>
            <a data-widgster="collapse" href="#" class="transition">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a data-widgster="fullscreen" href="#" class="transition">
              <i class="fa fa-expand"></i>
            </a>
            <a data-widgster="restore" href="#" class="transition">
              <i class="fa fa-compress"></i>
            </a>
            <a data-widgster="close" href="#" class="transition">
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div>
        <div class="card-block widget-body">

          <!-- <h6 class="card-title text-center"> Order ID: {{data?._id}}</h6> -->

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>Seller</label>
                <p>{{order?.merchant_id.profile.first_name}}</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Buyer</label>
                <p>{{order?.buyer_id.profile.first_name}}</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Order Date</label>
                <p>{{order?.createdAt| date:'full'}}</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="inputStatus">Order Status</label>
                <select class="form-control" [(ngModel)]="status">
                  <option *ngFor="let status of orderStatus" [ngValue]="status.value">{{status.name}}</option>
                </select>
              </div>
            </div>

            <div class="col-md-4" style="margin-top:20px;">
              <button class="btn btn-main" (click)="updateStatus()">Update Status</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="row bottom-30 gs-detail">
    <div class="col">
      <div widget class="card">
        <div class="card-header">
          <span>Order Detail</span>
          <div class="widget-controls">
            <a data-widgster="expand" href="#" class="transition">
              <i class="fa fa-chevron-down"></i>
            </a>
            <a data-widgster="collapse" href="#" class="transition">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a data-widgster="fullscreen" href="#" class="transition">
              <i class="fa fa-expand"></i>
            </a>
            <a data-widgster="restore" href="#" class="transition">
              <i class="fa fa-compress"></i>
            </a>
          </div>
        </div>
        <div class="card-block widget-body">

          <ng2-smart-table [settings]="settings" [source]="source" (userRowSelect)="selectProduct($event)"></ng2-smart-table>
          <div class="row">
            <div class="col-md-12">
              <table class="gs-detail-summary" style="float:right;">
                <thead>
                  <th>Shipping</th>
                  <th>Payable</th>
                  <th>Commission</th>
                  <th>Reward points</th>
                </thead>
                <tbody>
                  <tr>
                    <td>$ {{summary.totalShipment}}</td>
                    <td>$ {{summary.totalPayable}}</td>
                    <td>$ {{summary.totalCommission}}</td>
                    <td>{{summary.totalRewardPts}} Pts</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>



          <!-- <table class="gs-detail-entry-table">
            <thead>
              <th>Total Item</th>
              <th>Total Product Amount</th>
              <th>Total Shipment</th>
              <th>Total Discount</th>
              <th>Total Payable</th>
              <th>Total Commission</th>
              <th>Total Reward points awarded</th>
            </thead>
            <tbody>
              <tr>
                <td>{{summary.totalItem}}</td>
                <td>$ {{summary.totalProductAmount}}</td>
                <td>$ {{summary.totalShipment}}</td>
                <td>$ {{summary.totalDiscount}}</td>
                <td>$ {{summary.totalPayable}}</td>
                <td>$ {{summary.totalCommission}}</td>
                <td>$ {{summary.totalRewardPts}}</td>
              </tr>
            </tbody>
            <thead>
              <th>Commission status</th>
            </thead>
            <tbody>
              <tr>
                <td>
                  {{summary.commissionStatus}}
                </td>
              </tr>
            </tbody>
          </table> -->

          <div class="row bottom-30 gs-invoice">
            <div class="col-md-12">
              <button class="btn btn-main gs-invoice__btn" (click)="generateInvoice()">Print Invoice</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row bottom-30">
    <div class="col">
      <div widget class="card">
        <div class="card-header">
          <span>Shipment Detail</span>
          <div class="widget-controls">
            <a data-widgster="expand" href="#" class="transition">
              <i class="fa fa-chevron-down"></i>
            </a>
            <a data-widgster="collapse" href="#" class="transition">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a data-widgster="fullscreen" href="#" class="transition">
              <i class="fa fa-expand"></i>
            </a>
            <a data-widgster="restore" href="#" class="transition">
              <i class="fa fa-compress"></i>
            </a>
          </div>
        </div>
        <div class="card-block widget-body" style="padding:0">
          <form [formGroup]="shipmentForm">
            <!-- <h6 class="card-title text-center"> Shipment ID: {{orderID}}</h6> -->
            <div class="row" style="padding:20px">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="inputStatus">Agent</label>
                  <input type="text" class="form-control" id="inputAgent" formControlName="agent">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="inputBuyer">Buyer</label>
                  <input type="text" class="form-control" id="inputBuyer" formControlName="first_name">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="inputStatus">Shipment Status</label>
                  <div>
                    <button class="btn btn-main">Trace Shipment</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- <hr> -->
            <div style="background:#EAEBED; padding:20px;">
              <!-- <div> -->
              <h5>From</h5>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" formControlName="first_name">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" formControlName="fromEmail">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Contact</label>
                    <input type="text" class="form-control" formControlName="from_contact_no">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="textarea-1">Address</label>
                    <textarea class="form-control" id="textarea-1" formControlName="fromAddress"></textarea>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Building</label>
                    <textarea type="text" class="form-control" formControlName="fromBld"></textarea>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Postcode</label>
                    <input type="text" class="form-control" formControlName="fromPostcode">
                  </div>
                </div>

              </div>
              <hr style="border: 1px dashed #A7A9AE;">
              <h5>To</h5>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" formControlName="recepient">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" formControlName="toEmail">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Contact</label>
                    <input type="text" class="form-control" formControlName="contact_no">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="textarea-1">Address</label>
                    <textarea class="form-control" id="textarea-1" formControlName="address"></textarea>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Building</label>
                    <textarea type="text" class="form-control" formControlName="unit_no"></textarea>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Postcode</label>
                    <input type="text" class="form-control" formControlName="postal_code">
                  </div>
                </div>
              </div>
            </div>
            <div class="row" style="padding:20px">
              <div class="col-md-4">
                <button class="btn btn-main">Print DO</button>
              </div>
              <div class="col-md-4">
                <button class="btn btn-main">Update</button>
              </div>
              <div class="col-md-4">
                <button class="btn btn-main" (click)="deleteOrder()">Delete</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>

</div>
