<div class="row bottom-30">
    <div class="col">
        <div widget class="card">
            <div class="card-header">
                <span>Credit Wallet List</span>
                <div class="widget-controls">
                    <a data-widgster="expand" href="#" class="transition">
                        <i class="fa fa-chevron-down"></i>
                    </a>
                    <a data-widgster="collapse" href="#" class="transition">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a data-widgster="fullscreen" href="#" class="transition">
                        <i class="fa fa-expand"></i>
                    </a>
                    <a data-widgster="restore" href="#" class="transition">
                        <i class="fa fa-compress"></i>
                    </a>
                </div>
            </div>
            <div class="card-block widget-body">
                <ng2-smart-table [settings]="settings" [source]="source" (userRowSelect)="toBuyer($event)"></ng2-smart-table>
            </div>
        </div>

    </div>
</div>