@import "../../theme/styles/_variables";
@import "../../../../node_modules/bootstrap/scss/_variables";
@import "../../../../node_modules/bootstrap/scss/mixins";
.info-box {
  color: $default-color;
  .card-block {
    padding: 1rem;
  }
  .info-box-icon {
    display: flex;
    font-size: 50px;
    opacity: 0.9;
  }
  h2,
  h6,
  span,
  p {
    font-weight: $font-light;
    letter-spacing: 0.03em;
  }
  h6 {
    white-space: nowrap;
    font-size: 14px;
  }
  p {
    font-size: 14px;
    line-height: 1;
  }
}

.small-info-box {
  padding: 8px;
  color: $default-color;
  background-color: $info-color;
  div.media {
    align-items: center;
  }
  i {
    font-size: 28px;
  }
  h6,
  span {
    font-weight: $font-normal;
  }
  h6 {
    font-size: 14px;
  }
}

.user-info-box {
  .card-block {
    padding: 3px;
    img {
      width: 80px;
    }
    h6 {
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-weight: 300;
    }
    a {
      font-size: 20px;
      color: $default-color;
    }
  }
}

.live-tile {
  margin: 0;
  width: 100%;
  color: inherit;
}

.weather {
  h2,
  p {
    font-weight: 300;
    color: $default-color;
  }
  span {
    color: $default-color;
  }
  .current-temperature {
    font-size: 70px;
    color: $default-color;
    display: inline-block;
  }
  .degree {
    color: $default-color;
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    font-size: 20px;
  }
  .card-block {
    padding: 0;
    canvas {
      display: inline-block;
      vertical-align: middle;
    }
  }
  .line {
    padding: 5px 15px;
    border-bottom: 1px solid rgba($main-color, 0.2);
    &:last-child {
      border: none;
    }
  }
}

.card-block.feed {
  padding: 0;
}
