<div class="container">
  <nav aria-label="Page navigation">
    <ul class="pagination">
      <li *ngIf="pages>jump" class="page-item">
        <a class="page-link" (click)="transitTo('first')">
          <<</a>
      </li>
      <li *ngIf="head>=jump" class="page-item">
        <a class="page-link" (click)="transitTo('previous')">...</a>
      </li>
      <li class="page-item" *ngFor='let page of display'>
        <a class="page-link" (click)="navigateToPage($event.toElement.text)">{{page}}</a>
      </li>
      <li *ngIf="pages-head>jump" class="page-item">
        <a class="page-link" (click)="transitTo('next')">...</a>
      </li>
      <li class="page-item">
        <a *ngIf="pages>jump" class="page-link" (click)="transitTo('last')">>></a>
      </li>
    </ul>
  </nav>
</div>

<!-- <div class="navigate-to">
    Navigate to
    <input> /{{pages}}
    <button>
      <span>GO</span>
    </button>
  </div> -->
